
	#g-map-en-box {
		max-width:1050px;
	}
	#g-map-en-box ,
	#g-map-en-box .g-artboard {
		margin:0 auto;
	}
	#g-map-en-box p {
		margin:0;
	}
	#g-map-en-box .g-aiAbs {
		position:absolute;
	}
	#g-map-en-box .g-aiImg {
		position:absolute;
		top:0;
		display:block;
		width:100% !important;
	}
	#g-map-en-box .g-aiSymbol {
		position: absolute;
		box-sizing: border-box;
	}
	#g-map-en-box .g-aiPointText p { white-space: nowrap; }
	#g-map-en-1050 {
		position:relative;
		overflow:hidden;
	}
	#g-map-en-1050 p {
		font-family:'Hong Kong Map Type', arial,helvetica,sans-serif;
		line-height:18px;
		height:auto;
		opacity:1;
		letter-spacing:-0.05em;
		font-size:13px;
		text-align:left;
		color:rgb(102,102,102);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-map-en-1050 .g-pstyle0 {
		height:18px;
		text-align:center;
	}
	#g-map-en-1050 .g-pstyle1 {
		height:18px;
		letter-spacing:0em;
		font-size:14px;
		text-align:center;
	}
	#g-map-en-1050 .g-pstyle2 {
		line-height:19px;
		height:19px;
		font-size:14px;
		color:rgb(255,255,255);
	}
	#g-map-en-1050 .g-pstyle3 {
		line-height:15px;
		height:15px;
		letter-spacing:0em;
		text-align:center;
		color:rgb(255,255,255);
	}
	#g-map-en-1050 .g-pstyle4 {
		line-height:19px;
		height:19px;
		font-size:14px;
		text-align:center;
		color:rgb(255,255,255);
	}
	#g-map-en-1050 .g-pstyle5 {
		line-height:15px;
		height:15px;
		font-size:12px;
		text-align:right;
		text-transform:uppercase;
		color:rgb(255,255,255);
	}
	#g-map-en-1050 .g-pstyle6 {
		height:18px;
		text-align:center;
		text-transform:uppercase;
	}
	#g-map-en-1050 .g-pstyle7 {
		line-height:14px;
		height:14px;
		letter-spacing:-0.1em;
		font-size:12px;
		text-align:center;
		text-transform:uppercase;
		color:rgb(255,255,255);
	}
	#g-map-en-1050 .g-cstyle0 {
		font-weight:500;
	}
	#g-map-en-375 {
		position:relative;
		overflow:hidden;
	}
	#g-map-en-375 p {
		font-family:'Hong Kong Map Type', arial,helvetica,sans-serif;
		line-height:15px;
		height:auto;
		opacity:1;
		letter-spacing:-0.05em;
		font-size:12px;
		text-align:left;
		text-transform:none;
		color:rgb(255,255,255);
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-map-en-375 .g-pstyle0 {
		font-family:'MYuenHK', sans-serif;
		font-weight:700;
		line-height:14px;
		height:14px;
		letter-spacing:0.1em;
		font-size:13px;
		text-align:center;
		color:rgb(102,102,102);
	}
	#g-map-en-375 .g-pstyle1 {
		line-height:16px;
		height:16px;
		text-align:center;
		color:rgb(102,102,102);
	}
	#g-map-en-375 .g-pstyle2 {
		line-height:14px;
		height:14px;
		text-align:center;
		color:rgb(102,102,102);
	}
	#g-map-en-375 .g-pstyle3 {
		line-height:18px;
		height:18px;
		letter-spacing:0em;
		font-size:14px;
		text-align:center;
		color:rgb(102,102,102);
	}
	#g-map-en-375 .g-pstyle4 {
		line-height:16px;
		height:16px;
		text-align:center;
	}
	#g-map-en-375 .g-pstyle5 {
		height:15px;
		text-align:center;
		text-transform:uppercase;
	}
	#g-map-en-375 .g-pstyle6 {
		line-height:14px;
		height:14px;
		text-align:center;
	}
	#g-map-en-375 .g-pstyle7 {
		line-height:13px;
		height:13px;
		text-align:center;
		text-transform:uppercase;
		color:rgb(102,102,102);
	}
	#g-map-en-375 .g-cstyle0 {
		font-weight:500;
	}
	#g-map-en-600 {
		position:relative;
		overflow:hidden;
	}
	#g-map-en-600 p {
		font-family:'Hong Kong Map Type', arial,helvetica,sans-serif;
		line-height:14px;
		height:auto;
		opacity:1;
		letter-spacing:-0.05em;
		font-size:11px;
		text-align:left;
		color:rgb(102,102,102);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-map-en-600 .g-pstyle0 {
		height:14px;
		text-align:center;
	}
	#g-map-en-600 .g-pstyle1 {
		line-height:12px;
		height:12px;
		letter-spacing:0em;
		font-size:12px;
		text-align:center;
		color:rgb(112,112,112);
	}
	#g-map-en-600 .g-pstyle2 {
		line-height:16px;
		height:16px;
		text-align:center;
		color:rgb(255,255,255);
	}
	#g-map-en-600 .g-pstyle3 {
		line-height:16px;
		height:16px;
		color:rgb(255,255,255);
	}
	#g-map-en-600 .g-pstyle4 {
		line-height:15px;
		height:15px;
		font-size:12px;
		text-align:right;
		text-transform:uppercase;
		color:rgb(255,255,255);
	}
	#g-map-en-600 .g-pstyle5 {
		line-height:16px;
		height:16px;
		letter-spacing:0.14em;
		font-size:12px;
		text-align:center;
		color:rgb(112,112,112);
	}
	#g-map-en-600 .g-pstyle6 {
		letter-spacing:-0.1em;
		font-size:12px;
		text-align:center;
		text-transform:uppercase;
		color:rgb(255,255,255);
	}
	#g-map-en-600 .g-cstyle0 {
		font-weight:500;
	}

