.g-map-cont {
    margin: 50px auto;
    max-width: 600px;
    position: relative;
    overflow: hidden;
}

.g-map-cont-inner {
    width: 100%;
    padding-bottom: calc(100% + 10px);
    position: relative;
}

@media screen and (min-width: 460px) {
    .g-map-cont-inner {
        width: 100%;
        padding-bottom: calc(100% + 10px);
    }
}

.g-map-cont-inner-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.g-map-cont svg {
    stroke-linecap: round;
    stroke-linejoin: round;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* .g-map-cont path {
    fill: none;
} */

.g-label {
    text-anchor: middle;
    fill: #fff;
    opacity: 0.5;
    font-style: italic;
    font-size: 10px;
}

/* .g-map-cont::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 25%,rgba(0,0,0,1) 95%,rgba(0,0,0,1) 100%);
    position: absolute;
    top: 0%; left: 0%;
} */

.g-tempo {
	stroke: rgba(77, 238, 234, .6);
}

.g-interval {
	stroke: rgba(116, 238, 21, .6);
}

.g-long {
	stroke: rgba(240, 0, 255, .6);
}

.g-runs {
    fill: none;
}

.g-shoreline {
    fill: rgba(255,255,255,0.1);
    stroke: rgba(255,255,255,0.3);
}

.g-date-cont {
    position: absolute;
    top: 10px;
    left: 16px;
    color: #fff;
    z-index: 10;
    opacity: 0.7;
    font-size: 15px;
    line-height: 1.4;
}

@media screen and (min-width: 600px) {
    .g-date-cont {
        top: 30px;
        left: 0;
    }
}
.g-date {
    font-weight: 700;
    font-size: 19px;
}

.g-counter-cont .g-dot {
    width: 5px;
    height: 5px;
    background-color: #333333;
    border-radius: 100%;
    display: inline-block;
    margin-right: 3px;
}

.g-counter-cont .g-dot.g-active {
    background-color: #999999;
}